
<div>
  <router-outlet>  </router-outlet>
</div>

<div class="container">
<h2 class="text-center mt-2">Pedidos de Locação</h2>
<hr>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">email</th>
      <th scope="col">Data Locação</th>
      <th scope="col">Data Retirada</th>
      <th scope="col">Data Devolução</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Renato Ferreira</td>
      <td>pompeuafgmail.com</td>
      <td>10/08/2023</td>
      <td>05/11/2023</td>
      <td>09/11/2023</td>
    </tr>
  </tbody>
