


<form [formGroup]="formLogin">

<div style="margin-top: 250px; display: block;">



    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="border: solid 1px; border-radius: 5px; padding: 20px;">
        <h2 style="text-align: center; font-weight: bold;">Login</h2>
        <hr>
        <label for="input" class="form-label" style="font-weight: bold;">Usuario</label>
        <input type="text" id="input" class="form-control" aria-describedby="emailHelpBlock" formControlName="email">
        <p></p>
        <label for="inputPassword5" class="form-label" style="font-weight: bold;">Senha</label>
        <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock" formControlName="password">
        <div id="passwordHelpBlock" class="form-text" style="font-weight: bold; font-size: 12px; color: #2ba327; text-align: center;">
          Sua senha deve conter no mínimo 6 caracteres sendo letra Maiúscula letra Minúscula número e caractere especial.
        </div>
        <div class="row" style="margin-top:10px;">
          <button type="submit" routerLink="/home" class="btn btn-primary">Entrar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>


</div>

</form>
